<!-- app.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-4">
            <a class="nav-link" routerLink="/carta1" id="navCarta">CARTA 1</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" routerLink="/carta2" id="navCarta">CARTA 2</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" routerLink="/carta3" id="navCarta">CARTA 3</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" routerLink="/carta4" id="navCarta">CARTA 4</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" routerLink="/carta5" id="navCarta">CARTA 5</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
